
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body {
    background-color: #0F0817;
    color: #fff;
    overflow-x: hidden;
}

.gradient-text {
    background: linear-gradient(90deg, #F7E93F, #FB09B4, #9100F8);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* --- Navbar  */
.navbar {
    background-color: #1A0B2E; 
    border-bottom: 1px solid rgba(65, 37, 103, 1);
    top: 0;
    height: 92px;
    display: flex;
    align-items: center;
}

.nav-container {
    width: 90%;
    max-width: 1400px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr; 
    align-items: center;
}

.logo {
     font-size: 32px; 
    font-weight: 800; }

.nav-menu {
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 40px;
}

.nav-item {
    text-decoration: none;
    color: #fff;
    font-weight: 500;
    font-size: 16px;
    transition: 0.3s;
}

.nav-btn-wrapper { 
    text-align: right; }

.btn-gradient {
    background: linear-gradient(47.64deg, #F7E93F, #FB09B4, #9100F8);
    border: none;
    padding: 12px 28px;
    color: white;
    font-weight: 700;
    border-radius: 1000px;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    gap: 8px;
    transition: transform 0.2s;
}

.btn-gradient:hover { 
    transform: scale(1.05); }

/* --- Banner Section --- */
.hero-wrapper {
    background-image: url('./assets/hero-bg.png');
    background-size: cover;
    background-position: center;
    min-height: 100vh;
}

.banner {
    padding: 80px 20px;
    text-align: center;
}

.podcast-visual {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}

.circle-glow {
    position: relative;
    width: 320px;
    height: 320px;
}

.wave-img { width: 100%; height: auto; }

.mic-img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 120px;
}

.badge-new {
    position: absolute;
    top: 30px;
    right: 25px;
    background: #00FF88;
    color: #000;
    font-size: 12px;
    font-weight: 800;
    padding: 4px 12px;
    border-radius: 8px;
    box-shadow: 0px 3px 27px 0px rgba(0, 255, 136, 0.5);
}

.main-title { font-size: 56px; 
    
    font-weight: 800; 
    margin-bottom: 15px; }
.sub-description { max-width: 550px; 
    margin: 0 auto 40px; 
    color: #B3B3B3; }

/* Banner Buttons */
.banner-ctas {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.btn-icon { width: 20px;
     height: 20px; }


.btn-spotify {
   

    border-radius: 30px;
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}

.btn-outline {
    background-color: transparent;
    border: 1px solid #00FF88;
    color: #00FF88;
    padding: 16px 32px;
    border-radius: 30px;
    font-weight: 700;
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}




.about-section {
    padding: 50px 20px 120px; 
    background-color: #0F0817;
    text-align: center;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.about-header {
    margin-bottom: 80px;
}

.section-title {
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 16px;
    color: #FFFFFF;
}

.section-desc {
    font-size: 16px;
    color: #FFFFFF;
    opacity: 0.8;
    max-width: 1200px;
    margin: 0 auto;
    line-height: 20px;
}


.stats-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    gap: 40px;
    border-top: 1px solid rgba(255, 255, 255, 0.1); 
    padding-top: 80px;
}

.stat-number {
    font-size: 48px;
    font-weight: 900; 
    color: #00FF88; 
    margin-bottom: 8px;
    text-transform: capitalize;
}

.stat-label {
    font-size: 14px;
    color: #B3B3B3;
    text-transform: uppercase;
    letter-spacing: 1px;
}



/* --- Why Choose Section Styles --- */
.why-choose {
    padding: 120px 200px; 
    background-color: #0F0817;
    text-align: center;
}

.features-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 24px; 
    margin-top: 60px;
}

.feature-card {
    background: rgba(53, 17, 101, 0.4); 
    border-radius: 40px;
    padding: 40px; 
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    transition: transform 0.3s ease;
}


.tall-card {
    grid-row: span 2; 
}

.mobile-card{
    grid-column: span 2; 
}
.global-card{
     grid-column: span 2; 
}

.wide-card {
    grid-column: span 2; 
}
.resource-card{
    grid-column: span 1;
}


.feature-icon {
    width: 60px;
    height: 60px;
    margin-bottom: 24px;
}

.feature-title {
    font-size: 24px;
    font-weight: 700;
    color: #FFFFFF;
    margin-bottom: 16px;
}

.feature-desc {
    font-size: 14px;
    line-height: 1.6;
    color: #B3B3B3;
}


.episodes-section {
    padding: 100px 20px;
    background-color: #0F0817;
    text-align: center;
}

.section-title {
    font-size: 48px;
    font-weight: 800;
    margin-bottom: 60px;
    color: #FFFFFF;
}

.episodes-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 24px;
    max-width: 1200px;
    margin: 0 auto;
}

.episode-card {
    background-color: #1A0B2E; 
    border-radius: 24px;
    overflow: hidden;
    text-align: left;
    border: 1px solid rgba(255, 255, 255, 0.05);
    transition: 0.3s;
}

.episode-card:hover {
    transform: translateY(-8px);
    border-color: #00FF88;
}


.video-container {
    position: relative;
    padding-bottom: 56.25%; 
    height: 0;
    overflow: hidden;
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.episode-content {
    padding: 24px;
}

.episode-title {
    font-size: 20px;
    font-weight: 700;
    color: #FFFFFF;
    margin-bottom: 12px;
}

.episode-desc {
    font-size: 14px;
    color: #B3B3B3;
    line-height: 1.6;
    margin-bottom: 24px;
}

.episode-footer {
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    padding-top: 20px;
}

.duration-box {
    display: flex;
    align-items: center;
    gap: 10px;
    color: #00FF88;
    font-weight: 600;
    font-size: 14px;
}

.footer-icon-img {
    width: 20px;
    height: 20px;
}

.host-section {
    padding: 120px 20px;
    background-color: #0F0817;
    text-align: center;
}

.host-card-layout {
    display: flex; 
    align-items: center;
    justify-content: center;
    background: rgba(53, 17, 101, 0.4); 
    border-radius: 40px;
    padding: 50px; 
    max-width: 1100px;
    margin: 60px auto 0;
    gap: 50px;
}

.host-image-box {
    flex: 1;
    max-width: 400px;
}

.host-img-main {
    width: 100%;
    border-radius: 30px; 
    display: block;
}

.host-text-box {
    flex: 1.2;
    text-align: left;
}

.host-name {
    font-size: 48px;
    font-weight: 800;
    margin-bottom: 20px;
    color: #FFFFFF;
}

.host-bio {
    font-size: 16px;
    color: #B3B3B3;
    line-height: 1.8;
    margin-bottom: 30px;
}

.host-socials {
    display: flex;
    gap: 15px;
}

.host-socials img {
    width: 24px;
    height: 24px;
    transition: transform 0.3s ease; 
}

.host-socials img:hover {
    transform: scale(1.2);
}



.platform-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    margin-bottom: 60px;
    
}

.platform-item {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin: 0; 
    padding: 0;
}

.platform-item img {
    width: 24px; 
    height: 24px;
    object-fit: contain;
}

.platform-item span {
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    text-transform: capitalize;
}

.main-footer {
    padding: 100px 20px 40px;
    background-color: #0F0817;
    background-image: url('../assets/footer-bg.png'); 
    background-size: cover;
    background-position: center;
    text-align: center;
}

.footer-content {
    max-width: 800px;
    margin: 0 auto;
}

.footer-brand .logo {
    font-size: 36px;
    margin-bottom: 15px;
}

.footer-tagline {
    color: #B3B3B3;
    font-size: 16px;
    margin-bottom: 50px;
}

.footer-divider {
    border: 0;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    margin-bottom: 30px;
}

.copyright-text {
    color: #666666;
    font-size: 14px;
}





/* --- Mobile Logic  --- */
.menu-btn, .hamburger { display: none; }

@media screen and (max-width: 992px) {
    .hamburger {
        display: block;
        cursor: pointer;
        justify-self: end;
    }
    .hamburger span {
        display: block;
        width: 25px;
        height: 3px;
        background: #fff;
        margin: 5px;
    }
    .nav-container { grid-template-columns: 1fr 1fr; }
    .nav-menu {
        position: fixed;
        top: 92px;
        left: -100%;
        width: 100%;
        height: 100vh;
        background: #1A0B2E;
        flex-direction: column;
        align-items: center;
        padding-top: 40px;
        transition: 0.4s;
    }
    .nav-btn-wrapper { display: none; }
    .menu-btn:checked ~ .nav-menu { left: 0; }
    
    .banner-ctas { flex-direction: column; align-items: center; }
    .btn-spotify, .btn-outline
     { width: 100%;
         max-width: 300px;
          justify-content: center; }
    .main-title { 
        font-size: 42px; }



    
    .section-title {
        font-size: 36px;
    }
    
      .why-choose {
        padding: 80px 40px;
    }
   
  
     .host-card-layout {
        flex-direction: column; 
        padding: 40px;
        gap: 30px;
        text-align: center;
    }

    .host-text-box {
        text-align: center;
    }

    .host-socials {
        justify-content: center;
    }
}

@media screen and (max-width: 576px) {
    .circle-glow { width: 260px; height: 260px; }
    .mic-img { width: 90px; }
 .about-section {
        padding: 50px 20px 80px;
    }

    .stats-grid {
        grid-template-columns: 1fr; 
        padding-top: 40px;
    }

    .stat-number {
        font-size: 40px;
    }
     .why-choose {
        padding: 60px 20px;
    }
    .features-grid {
        grid-template-columns: 1fr; 
    }
    .tall-card, .mobile-card,.global-card,.wide-card,.resource-card {
        grid-column: span 1;
        grid-row: span 1;
    }

   
    .feature-card {
        padding: 30px;
        border-radius: 30px;
    }
    .episodes-grid {
        grid-template-columns: 1fr;
    }
    
    .section-title {
        font-size: 36px;
    }
      .host-section {
        padding: 80px 15px;
    }

    .host-name {
        font-size: 32px;
    }

    .host-card-layout {
        padding: 30px 20px;
    }
    .footer-brand .logo {
        font-size: 28px;
    }
    .platform-container {
        flex-direction: column;
        gap: 20px;
        align-items: center;
    }
    
   

    

}